body{ 
    background: linear-gradient(90deg, blue, #f7621c, red);
}
header{
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

nav{
    width: 65%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: flex;
    align-content: space-between;
    padding-right: 20px;
}
nav ul li button{
    background-color: black;
    border: white solid 3px;
    height: 50px;
    width: 115px;
    font-family: Comic Sans MS;
    font-size: 15px;

}
footer{
    background-color: black;
    border: white solid 3px;
    height: 200px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    align-content: space-between;
}
main {
    height: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main h1{
    font-size: 50px;
    font-family: 'Jomolhari', serif;
}
div{
    font-family: 'Press Start 2P', cursive;
    width: 390px;
    font-size: 18px;
    border: white solid 3px;
    background-color: black;
    color: white;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.project_1{
    height: 500px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.project_2{
    height: 500px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.project_3{
    height: 500px;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
p{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}
#like{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  footer button{
    background-color: black;
    border: white solid 3px;
    height: 50px;
    width: 115px;
    font-family: Comic Sans MS;
    font-size: 15px;
    color: white;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    
  }